/* global var for color  */
:root{
  /* --primary:#ECF6E0;
  --secondary:#5CDB94;
  --tertiary:#05396B; */
  /* --primary:#FFFF70;
  --secondary:#001715;
  --tertiary:#00A8E8; */

  /* Britney chang color
  --primary:#CAD6F9;
  --secondary:#061931; 
  --tertiary:#00FFD8;
  --quaternary:#546380; */

  /* Britney chang color */
    /* big text */
    --primary:#546380;
    /* background color */
  --secondary:#061931; 
    /* pop */
  --tertiary:yellow;
  --quaternary:#CAD6F9;
  
  
  
  
  /* half the animation time */
  --animate-delay: 0.7s;
}

body{
	background-color: var(--secondary);
}

#HomeText {
  margin:0 auto 0;
  display:block;
  width:75%;
  max-width:600px;;
  height: auto;
}


h1 {
	font-family: 'Helvetica', sans-serif;
	color: var(--primary);
	font-size: 5vw;
  font-size:max(50px);
	font-weight:700;
	letter-spacing: 2px;
	margin-bottom:-10px;
}

#sexy_line {
	margin-top: 0;
	width: 55vw;
	margin-bottom: 40px;
	border-top:2px solid var(--tertiary);
}

.links {
  color: var(--tertiary);
  font-weight:700;
  letter-spacing: 2px;
  height:25px;
  width:25px;
  position: relative;
	text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  display:inline-flex;
  background-color: var(--tertiary);
  padding:5px;
  margin-right:10px;
  transition: transform .2s;
  align-items: center;
  overflow:hidden;
}
.links:hover {
  transform: scale(1.5);
}

.textLinks {
  color:var(--primary);
  text-decoration:none;
}

.textLinks:hover{
  text-decoration: underline;
}


i{
  /* background-color: green; */
  display: block;
  position:absolute;
  top:3px;
  left:3px;
  color:var(--secondary);
  font-size: 30px;

}

p {
  color: var(--quaternary);
  letter-spacing:.5px;
  position: relative;
  font-size: 4vw;
  font-size:max(25px);
	text-decoration: none;
	font-family: 'Helvetica', sans-serif;
}



#profile {
  width:200px;
  height:auto;
}

#resume {
  display:block;
  width:32px;


}